# ========================
# Terraform files
# ========================
*.tfstate
*.tfstate.*
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraform/
.terraform.lock.hcl

# Terraform variables (VERY IMPORTANT - may contain secrets)
terraform.tfvars
*.tfvars
*.tfvars.json

# ========================
# AWS credentials
# ========================
.aws/
aws_credentials
credentials
*.pem
*.key
*.pub
.aws/*
~/.aws/
aws/
aws-config/
aws_credentials
credentials
config

# ========================
# Jenkins files
# ========================
.jenkins/
jenkins_home/
*.log

# ========================
# OS files
# ========================
.DS_Store
Thumbs.db

# ========================
# Editor files
# ========================
.vscode/
.idea/

# ========================
# ZIP / temporary installs
# ========================
*.zip
*.tar.gz

# ========================
# Node / misc (optional safety)
# ========================
node_modules/