# =========================
# AWS (IMPORTANT)
# =========================
.aws/
aws/
aws/*
~/.aws/
aws_credentials
credentials
config
*.pem
*.key
*.pub

# =========================
# Terraform
# =========================
.terraform/
.terraform.lock.hcl

*.tfstate
*.tfstate.*
terraform.tfvars
*.tfvars
*.tfvars.json
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# =========================
# Jenkins
# =========================
jenkins_home/
.jenkins/

# =========================
# Archives / installs
# =========================
*.zip
*.tar.gz

# =========================
# OS / IDE
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

.env